# Node.js
node_modules/

# Build output
build/
dist/
*.log

# Cache
.cache/
 
# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swn
*.swo
*.swp
*.sublime-*
.sass-cache/
.sublime-workspace
.project
.tmproj
*.tmproj
.tmtags
.svn/
Thumbs.db
Desktop.ini
.DS_Store

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency lock files
package-lock.json
yarn.lock

# Mac specific files
.AppleDouble
.LSOverride

# Windows Installer files
setup.log
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
Desktop.ini
